*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    transition-duration: 1s;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    color: #fff;
    cursor: url('img/') default;
}
#move{
    background: transparent;
    height: 50px;
    border: 5px solid #bb6b25;
}
#move2{
    background: #1B4332;
    height: 10px;
    border: 2px solid #ffffff;
}
.cursor{
    aspect-ratio: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 100px;
    pointer-events: none;
}
main{
    margin-top: 80px;
}
.message, .banner span{
    font-size: 80px;
    font-weight: 900;
}
.banner span{
    color: #D48A35;
    padding: 20px;
}
.banner span:hover{
    font-size: 90px;
    background-color: #D48A35;
    color: #fff;
    border-radius: 50px;
}
span{
    font-size: 60px;
    font-weight: 700;
}
header{
    display: flex;
    background-color: #1B4332;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 20px 10vw;
}
.logo img{
    width: 120px;
    height: 60px;
    margin-bottom: -7px;
}
.logo{
    padding: 0px !important;
    text-align: left !important;
}
nav{
    margin: auto;
}
ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 80vw;
    justify-content: space-between;
}
footer ul{
    display: block;
}
.menu ul li{
    padding: 15px 25px;
    text-align: center;
}
.item:hover{
    background-color: #fff;
    border-radius: 10px;
}

.item:hover a, .item a:hover::after{
    color: #1B4332;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
}
.toggle a{
    font-size: 48px !important;
    line-height: 50px;
    width: 50px;
}
.banner{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px 30% 50px 10%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),url(img/Lancia-stratos.webp);
      background-position: center;
      background-size: cover;
      flex-direction: column;
}
p{
    line-height: 30px;
}
h1{
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    margin: 20px 0px;
}
.visualisateur_produit{
    display: flex;
    width: 100%;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    margin: 70px 0px;
}
.product_img{
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    flex-grow: 1;
    position: relative;
    background-position: center;
    background-size: cover;
}
#gt3{
    background-image: url(img/Interieur-Porsche-GT3.webp);
}
#ferrari{
    background-image: url(img/Ferrari-328gts.webp);
}
#carrera{
    background-image: url(img/Porsche-carrera.webp)
}
#chevrolet{
    background-image: url(img/Interieur-Chevrolet-MonteCarlo.webp);
}
#mercedes{
    background-image: url(img/Mercedes-G63.webp);
}
.product_img:hover{
    flex-grow: 5;
}
.product_img img{  
    height: 100%;
}
.content-image{
    border-radius: 10px;
}
.centered{
    text-align: center;
}
@keyframes rotate {
    from {
        transform: translateX(30%);
    }
    to {
        transform: translateX(-30%);
    }
}
.Services{
    height: 100vh;
    padding: 80px 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#presentation{
    background-color: #1B4332;
}
#incitation{
    background-color: #BB6B25;
}
#incitation h2{
    text-align: center !important;
}
.section{
    margin: 20px;
    flex: 1 1 0px;
}
.section img{
    width: 100%;
}
.content{
    height: fit-content;
    background-color: #1e1e1e;
    padding: 70px 10%;  
}
.content:last-of-type{
    text-align: center;
}
.content h2{
    width: 100vw;
    font-size: 70px;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -0.5s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
    white-space: break-spaces;
}
.content h2:last-child{
    animation-direction: reverse;
    animation-duration: 0.7s;
}
.content .message{
    text-align: center;
    padding: 20px;
}
.content a{
    text-decoration: none;
    background-color: #fff;
    color: #1e1e1e;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 900;
    border: 1px solid #fff;
    justify-content: center;
}
.content a:hover{
    background-color: #1B4332;
    color: #fff;
}
.Tabs-services{
    display: flex;
    flex-wrap: wrap;
}
.Tabs-services button{
    height: 33.33%;
}
.Tabs-services div{
    flex: 1 1 0px;
}
.tablinks, h3{
    width: 100%;
    border: none;
    padding: 30px 20px;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.tabcontent{
    display: none;
    margin: 70px 10% 70px 50px;
    flex-basis: 60%;
}
.tabcontent h3, .tabcontent p{
    color: #1e1e1e;
}
.active, .tablinks:hover{
    background-color: #1B4332;
    color: #fff;
}
/* Partie Footer */
footer{
    display: flex;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background-color: #1B4332;
    flex-wrap: wrap;
}
footer div{
    flex: 1;
    margin: 30px;
    width: 33%;
}
footer li{
    list-style: none;
    text-align: left;
    margin-bottom: 10px;
}
footer a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 500;
    color : #fff;
}

/* Partie responsive version Desktop supérieur à 900px */
@media (min-width: 900px) {
    .toggle{
        display: none;
    }
    #contact {
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 10px;
    }
    #contact a{
        color: #1B4332;
    }
    #contact:hover {
        border: 1px solid #fff;
        background-color: #1B4332;
    }
    #contact:hover a{
        color: #fff;
    }
}
/* Partie responsive version Mobile inférieur à 900px */
@media (max-width: 900px) {
    .menu ul li a{
        display: block;
        font-size: 35px;
    }
    .toggle{
        order: 1;
    }
    .item{
        order: 2;
        width: 100%;
        text-align: center;
        display: none;
    }
    .active .item, .active #contact{
        display: block;
        height: calc(25vh - 24.5px);
        line-height: calc(25vh - 44.5px); 
        animation: slidein 1s ease;
    }
    @keyframes slidein {
        0% {
          transform: translateX(-100%);
          border-bottom: 0px;
        }
        50% {
            transform: translateX(10%);
        }
        100% {
          transform: translateX(0%);
        }
      }
      
    #contact{
        order: 3;
        display: none;
        width: 100%;
        text-align: center;
    }
    .Services{
        flex-direction: column !important;
    }
    .product_img, footer div, .Tabs-services div{
        flex: 1 1 300px;
    }
    .visualisateur_produit{
        flex-direction: row;
        flex-wrap: wrap;
        animation: none;
    }
    .content h2{
        font-size: 28px;
        animation: none;
    }
    .content, .Services, .banner{
        padding: 50px 10px;
        height: fit-content;
    }
    .message, span{
        font-size: 30px !important;
    }
    h1, .message, .message span, .content h2{
        text-align: center;
    }
    footer div{
        margin: 10px;
    }
}
